body {
  background-color: #f6f6f1;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-image: url('https://t3.ftcdn.net/jpg/03/41/66/34/240_F_341663497_wAZoYskvtYCSDgIpT0CZFTOnEN00w76i.jpg');
  background-size:cover;
  background-position: center center;
background-attachment: fixed;
 
}

.box {
  
  border-radius: 10px;

  width: 90%;
  max-width: 400px;
   border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(11, 11, 11, 0.5);
  border-top-color: rgba(172, 138, 96, 0.5);
border-left-color: rgba(172, 138, 96, 0.5);
border-bottom-color: rgba(172, 138, 96, 0.5);
border-right-color: rgba(172, 138, 96, 0.5);
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
  border-radius: 5px;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
  border-radius: 5px;
}